body {
  background-color: #202020;
  height: 100vh;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #252525;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav a {
  color: hsl(171, 100%, 35%);
  transition: .5s ease;
}

.sidenav a:hover, .sidenav a:active {
  background-color: #282828 !important;
  color: hsl(171, 100%, 50%) !important;
  transition: .5s ease;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: .3s ease;
  color: hsl(171, 100%, 35%);
}

.fa-cog {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: .3s ease;
  color: hsl(171, 100%, 35%);
}

.fa-home, .fa-star {
  margin-left: 10px;
  margin-top: 10px;
  transition: .5s ease;
}

.fa-bars {
  margin-left: 10px;
  margin-top: 10px;
  transition: .5s ease;
}

.fa-cog:hover, .closebtn:hover, .fa-cog:active, .closebtn:active {
  transition: .3s ease;
  color: hsl(171, 100%, 50%);
}

.fa-home:hover, .fa-bars:hover, .fa-home:active, .fa-bars:active{
  transition: .5s ease;
  color: #202020;
}

.fa-star:hover, .fa-star:active{
  transition: .5s ease;
  color: hsl(48, 100%, 55%);
}
